.navbar{
    color: white;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

.navbar a:hover {
    color: #b93737;
}